.body{
    /* color: gray; */
    background-color:rgb(211, 209, 209);
}
.storyb{
    /* padding-top: 2rem; */
 /* align-items: center; */
 /* text-align: center; */
 /* align:center; */
 /* padding-left: 3rem; */
   /* align-content: center; */
   /* align-items: center; */
   /* display: flex;  */
   /* align-items: center; */
   /* align-content: center; */
   /* padding-right: 20px;
   text-align: center;
   background-size: 0rem;
   background-color:seagreen;
   color: lawngreen; 
   justify-content: center;
   display: flex;
   flex-direction: column; */
   align-content: center;
   color:cyan;
   background-color:black;
   



  
}
.storyb:hover{
    color: crimson;
    background-color: aliceblue;

}


.headertext{
    /* align-items: center; */
    text-align: center;
    /* text-align: center; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: flex; */
     margin: 0;
    padding: 0; 
    transform: translate(-50)translateY(-50%); 
    color: rgb(255, 255, 255);

    

}
.foot{
    background-color: rgb(80, 86, 87);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.list{
    display: flex;
    list-style: none;
    padding-right: 0px,6.6px;
    /* text-align: center; */
    align-items: center;
}
.li{
    padding-right: 2rem;
    /* p: 10rem; */
   padding-top: 13rem;
   padding-bottom: 1rem;
   text-decoration: none;
}
.about{
    /* padding-right: 10rem; */
    /* padding-left: 2rem; */
    /* text-align: center; */
    color: rgb(241, 219, 16);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

}
.head{
    background-color: rgb(17, 110, 98);
    margin: 0px;
    display: flex;
    text-align: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.link{
    display: inline;
    list-style: none;
    text-decoration: none;
    color: rgb(208, 255, 0);
    
}
.btn{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.aboutt{
    text-align: center;
    color: chartreuse;
}